.dd-wrap > div {
	padding: 5px;
}

#droppable {
	width: 200px;
	height: 150px;
	padding: 5px;
}

#draggable {
	width: 100px;
	height: 75px;
	cursor: pointer;	
}

#sortable li {
	list-style: none;
	cursor: pointer;
}